<html>
    <head>
        <title>Djavidfiler</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Djavid Filer Blog</a></h1>
        </div>

        <div>
            <p>published: 20.01.2018, 22:38</p>
            <h2><a href="">О себе</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><img src="img/djavid.png" alt="https://vk.com/djavidfiler"></p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>
    </body>
</html>